body {
	background-color: #E59866
}

h1 {
	font-weight: bold;
	text-align: center;
	margin: auto;
	font-size: 40pt;
	font-variant: small-caps;
	margin: 5px;
	background-color: #F6DDCC;
	margin-left: 25%;
	margin-right: 25%;
}

#board {
	margin: auto;
	padding: 10px;
	width: 50%;
	height: 50%;
	border: 3px solid black;
	background-color: #D4E6F1;
}

#board tr {
	margin: 10px;
	padding: 20px;
}

#board th {
	margin: 15px;
	width: 150px;
	height: 150px;
}

.slot {
	width: 100%;
	height: 100%;
	font-size: 50pt;
	font-variant: small-caps;
	font-weight: bold;
	background-color: #EDBB99;
}

.slot:hover {
	background-color: #F6DDCC;
}

.slot:active {
	background-color: #6E2C00;
}

.slot:disabled {
	background-color: #EDBB99;
	color: black;
	border: 2px solid black;
}
